:root {
    --box-size: 100%;
    --symbol-size: calc(var(--box-size) * .9);
    --grey: #2e4452;
}

body {
    position: relative;
    margin: 0;
    background-color: #2e4452;
    height: 100vh; 
    width: 100vw;
               
}

/* -----------------HEADER---------------- */

header { 
    position: relative;  
    text-align: center; 
    padding: 0; 
    margin: 0;
    background-color: var(--grey); 
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);  
}

#button-exit {
    position: absolute;
    top: 28px;
    right: 28px; 
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(images/exit.svg);
    cursor: pointer;
    width: 50px; 
    height: 50px;      
}

#button-exit:hover {
    filter: contrast(30%);
}

h1 {
    font-family: "Tac One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    padding: 0;
    padding-right: 12px;
    margin: 0;
    color:#d89d2e; 
}

/* -------------------MAIN------------------- */

main {
    width: 100%; 
    height: calc(100vh - 103px);
    display: grid;
    justify-content: center;
    align-content:start;
    position: absolute;
    justify-items: center;
    align-items: center; 
    background-image: url("images/smile.svg"); 
    background-repeat: repeat; 
    background-size: 40px;     
}

/* ----------------PLAYERS-FORM----------------- */

.players-form {
    display: grid;    
    justify-items: center;
    align-items: center;
    gap: 20px;
    z-index: 1;   
    border-radius: 5px;
    padding: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3); 
    background-color: var(--grey);   
}

.players-input {
    display: flex;
    align-items: center;
    justify-content: center;   
}

#button-start {
    border: none;
    border-radius: 8px;
    background-color: #d89d2e; 
    cursor: pointer;   
    width: 100%;
    text-align: center;
    font-family: "Tac One", sans-serif;
    color: rgb(217, 224, 147);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: 2.4rem;
}

#button-restart {
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(images/restart.svg);
    cursor: pointer;
    width: 80px; 
    height: 80px;
    justify-self: center;   
}

/* -----------------GAMEBOARD----------------- */

.gameboard-container { 
    display: grid;
    display: none; 
    justify-items: center; 
    position: relative;
    width: 50%;
    padding-bottom: 50%;
    max-width: 500px;
    max-height: 500px;
    min-width: 300px; 
    max-height: 300px;  
}

.gameboard {
    display: none;
    width: 100%;
    height: 100%;    
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);   
    gap: 4px;
    border-radius: 5px; 
    
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    min-height: 300px; 
}

.board-box {    
    width: var(--box-size);
    height: var(--box-size); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: var(--grey); 
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
}

.round-result {
    display: none;    
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    min-height: 300px; 
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px; 
    font-size: 3.5rem;
    font-family: "Tac One", sans-serif;
    color: white;   
    align-content: center;
    justify-content: center;
    gap: 40px;
}

.board-box-x::before,
.board-box-x::after {
    content: '';
    position: absolute;
    width: calc(var(--symbol-size) * .15);
    height: var(--symbol-size);
    background-color: rgb(71, 129, 71);
}

.board-box-x::before {    
    transform: rotate(45deg);
}

.board-box-x::after {
    transform: rotate(-45deg);
}

.board-box-o::before,
.board-box-o::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.board-box-o::before {
    width: calc(var(--symbol-size) * .9);
    height: calc(var(--symbol-size) * .9);
    background-color: rgb(66, 109, 201);
}

.board-box-o::after {
    width: calc(var(--symbol-size) * .6);
    height: calc(var(--symbol-size) * .6);
    background-color: var(--grey); 
}
 
.board-box:not(.board-box-x):not(.board-box-o):hover { 
   filter: contrast(95%);
}

/* ------------------PLAYERS-INFO-DISPLAY--------------- */

.players-info-main {
    visibility: hidden;    
    width: 80vw;    
}

.players-info {
    display: flex;
    justify-content: space-between; 
    padding: 40px;  
}

.player1-info,
.player2-info {    
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: "Tac One", sans-serif;
    font-size: 36px; 
    background-color:var(--grey);  
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 2px 10px; 
    border-radius: 8px;
}

.player1-glow {
    box-shadow: 0 0 0.5em 0.1rem rgb(112, 160, 64);
}

.player2-glow {
    box-shadow: 0 0 0.5em 0.1rem rgb(69, 157, 168);
}

.player1-info {
    color: rgb(71, 129, 71);
}

.player2-info {
    color: rgb(66, 109, 201);
}

.player1-name,
.player2-name {
    color: #aa8033;;
    font-size: 32px;
}

input {
    outline: none;
    border: none;
    height: 36px;
    width: 240px;
    border-radius: 5px;
    background-color: #415663;
    color: rgb(202, 199, 199); 
    font-size: 40px;
    font-weight: bold;
    padding: 5px 10px;    
}

.players-input {
    display: flex;
    align-items: center;
    margin-bottom: 16px;   
}

.players-input > img {
    width: 60px; 
    height: 60px;
}

::placeholder {
    color: var(--grey); 
    font-weight: bold;
    padding-left: 10px;    
}

img {    
    align-self: center;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

/* ---------------FOOTER-------------- */

.footer {
    margin: 0 auto;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%);
    color: rgb(201, 198, 198); 
    font-size: 16px;   
}

